/* Reset e base */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #242638;
  color: #30b55e;
}

/* Cabeçalho */
header {
  background-color: #424242;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header h1 {
  color: #1ff36dc2;
}

/* Menu de navegação */
nav ul {
  list-style: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin: 0 15px;
}

nav ul li a {
  color: #30b55e;
  text-decoration: none;
}

nav ul li a:hover {
  text-decoration: underline;
}

/* Menu dropdown (mobile ou botão) */
#menu {
  display: none;
  border: 1px solid #be1f1f;
  padding: 10px;
  background-color: #f9f9f9;
  position: absolute;
  z-index: 1000;
}

#menu a {
  display: block;
  padding: 8px;
  text-decoration: none;
  color: #cd0f0f;
}

#menu a:hover {
  background-color: #9e1616;
}

/* Conteúdo principal */
main {
  padding: 20px;
}

/* Seções */
section {
  margin: 20px 0;
  padding: 20px;
  background: #070c40;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Formulários */
form {
  display: flex;
  flex-direction: column;
}

form label {
  margin: 10px 0 5px;
}

form input,
form textarea {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
}

/* Frases informativas */
.frase {
  font-size: 15px;
  transition: color 0.3s;
}

.frase:hover {
  color: rgb(99, 18, 175);
}

h2 {
  color: rgb(28, 202, 202);
}

/* Links gerais */
a {
  color: #30b55e;
}

/* Seção de peças recomendadas */
#pecas ul {
  list-style: none;
  padding: 0;
}

#pecas ul li {
  margin: 10px 0;
  padding: 10px;
  background-color: #070c40;
  border-radius: 5px;
  color: #fff;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

#pecas ul li:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#pecas ul li a {
  color: #30b55e;
  text-decoration: none;
  font-weight: bold;
  display: block;
  transition: color 0.3s ease;
}

#pecas ul li a:hover {
  color: rgb(9, 255, 9);
}

/* Seção de dicas */
#dicas ul {
  list-style: none;
  padding: 0;
}

#dicas ul li {
  margin: 10px 0;
  padding: 10px;
  background-color: #070c40;
  border-radius: 5px;
  color: #fff;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

#dicas ul li:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#dicas ul li a {
  color: #30b55e;
  text-decoration: none;
  font-weight: bold;
  display: block;
  transition: color 0.3s ease;
}

#dicas ul li a:hover {
  color: rgb(9, 255, 9);
}

/* Rodapé (caso queira usar) */
footer {
  text-align: center;
  padding: 10px 0;
  background: #2184b6;
  color: #fff;
  width: 100%;
}
